<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.bean">
    <!--登录case-->
    <select id="loginCase" parameterType="Integer" resultType="com.demo.bean.LoginCase">
        select * from apiTest.loginCase where id = #{id};
    </select>
    <select id="login" parameterType="com.demo.bean.LoginCase" resultType="com.demo.bean.User">
        select * from apiTest.user where id=#{id};
    </select>
    <!--ok新增用户case-->
    <select id="addUserCase" parameterType="Integer" resultType="com.demo.bean.AddUserCase">
        select * from apiTest.addUserCase where id = #{id};
    </select>
    <select id="getAddUser" parameterType="Integer" resultType="com.demo.bean.User">
        select * from apiTest.user where id=#{userId};
    </select>
    <!--ok更新用户case-->
    <select id="updateUserInfoCase" parameterType="Integer" resultType="com.demo.bean.UpdateUserInfoCase">
        select * from apiTest.updateUserInfoCase where id=#{id};
    </select>
    <select id="updateUserInfo" parameterType="com.demo.bean.UpdateUserInfoCase" resultType="com.demo.bean.User">
        select * from apiTest.user
        <trim prefix="WHERE" prefixOverrides="and">
            <if test="null != id and '' != id">
                AND id=#{userId}
            </if>
            <if test="null != username and '' != username">
                AND username=#{username}
            </if>
            <if test="null != password and '' != password">
                AND password=#{password}
            </if>
            <if test="null != email and '' != email">
                AND email=#{email}
            </if>
            <if test="null != create_time and '' != create_time">
                AND create_time=#{create_time}
            </if>
        </trim>
        And id=#{userId};
    </select>
    <!--ok获取用户信息case-->
    <select id="getUserInfoCase" parameterType="Integer" resultType="com.demo.bean.GetUserInfoCase">
        select * from apiTest.getUserInfoCase where id = #{id};
    </select>
    <select id="getExpectedUserInfo" parameterType="com.demo.bean.GetUserInfoCase" resultType="com.demo.bean.User">
        select * from apiTest.user where id = #{userId};
    </select>
    <!--ok获取用户列表case-->
    <select id="getUserListCase" parameterType="Integer" resultType="com.demo.bean.GetUserListCase">
        select * from apiTest.getUserListCase where id=#{id};
    </select>
    <!--获取用户列表-->
    <select id="getExpectedUserList" parameterType="com.demo.bean.GetUserListCase" resultType="com.demo.bean.User">
        select * from apiTest.user
        <trim prefix="WHERE" prefixOverrides="and">
            <if test="null != id and '' != id">
                AND id is not null
            </if>
            <if test="null != username and '' != username">
                AND username=#{username}
            </if>
<!--            <if test="null != password and '' != password">-->
<!--                AND password=#{password}-->
<!--            </if>-->
            <if test="null != email and '' != email">
                AND email=#{email}
            </if>
<!--            <if test="null != create_time and '' != create_time">-->
<!--                AND create_time=#{create_time}-->
<!--            </if>-->
        </trim>
        ;
    </select>
</mapper>